@page
@model LemmyWeb.Pages.AboutModel
@{
     ViewData["Title"] = "About";
}
<div class="align-content-center">
    <img src="~/LemmyNannyLogo.png" style="display:block;margin:auto;" alt="LemmyNanny Logo" width="50%" />
    <div class="container">
<div class="container">
        <div class="row p-1">
            <div class="">

            </div>
            <div class="col-12" style="text-align:center;">
                <h1>See what LemmyNanny sees!</h1>
                <div>LemmyNanny is reading Lemmy, and processing posts. Read Lemmy in a new way, with an AI guide.</div>

            </div>
            <div class="">

            </div>
        </div>
        <div class="row p-1 mt-2">
            <div class="col-12">
                LemmyNanny is a software bot to retrieve posts and comments on Lemmy instances and using local LLM (AI) models to assist with moderation. This site
                showcases it being run and allows users on Twitch to interact with content LemmyNanny is currently triaging.
            </div>
            <div class="col-12">
                               The goal would be to have each instance running their own LemmyNanny to ensure clean and safe content around the globe! Realtime insights!
                It's open source, so check it out on <a href="https://github.com/IsaaacD/LemmyNanny"> GitHub - LemmyNanny</a>. 
                Newest posts LemmyNanny is scaping show on the top, so no need to scroll!
            </div>
        </div>
</div>
    </div>
</div>