@page
@model LemmyWeb.Pages.FaqModel
@{
    ViewData["Title"] = "FAQ";
}

<h1>Frequently Asked Questions</h1>

<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What is Lemmy?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lemmy is an app on the Fediverse, a decentralized social media hub that gives data back to small players without ads or secret algorithms.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What is LemmyNanny for?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                It's meant as a different lens into Lemmy community with an AI guide. It will boost awareness of Lemmy and the Fediverse and you could always make some fun drinking games with LemmyNanny.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What's up with the pirate jargon?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                LemmyNanny has some screws loose at times and will often take on different personas. It's an AI agent, so it's just a prompt or 2 and it's smooth sailing, ahoy!
            </div>
        </div>
    </div>

</div>
<div>
    More to come...
</div>