@page
@model IndexModel
@{
    ViewData["Title"] = "Nanny Feed";
}
<div class="" >
     <h1 style="text-align:center;">Nanny Feed</h1>
    <img src="~/LemmyNannyLogo.png" style="display:block;margin:auto;width:20em;" alt="LemmyNanny Logo" width="50%" />
    <div class="container">
<div class="row">

</div>
<div class="container">
    <div class="row p-1">
        <div class="col-12 mb-2 mt-1" style="text-align:center;">
            <div class="badge badge-pill badge-danger" id="status">Offline</div>
            <div class="mt-1">
                <input type="button" id="btnPause" class="btn btn-primary" value="Pause feed" />
            </div>


            <div id="numWatcher" class="mt-1 mb-1"></div>
            <div id="lastProcessed" class="mt-1 mb-1"></div>
        </div>

        <div class="col-12" id="msgList" style="">

        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>