@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="align-content-center">
    <img src="~/LemmyNannyLogo.png" style="display:block;margin:auto;width:20em;" alt="LemmyNanny Logo" width="50%" />
    <div class="container">
        <div class="row p-1">
            <div class="col-3">

            </div>
            <div class="col-6">
                Cleaning up Lemmy instances around the globe! Realtime insights! Below is real time look at what LemmyNanny is doing. It's open source, so check it out on <a href="https://github.com/IsaaacD/LemmyNanny"> GitHub - LemmyNanny</a>. Newest posts LemmyNanny is scaping show on the top, so no need to scroll!
            </div>
            <div class="col-3">

            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row p-1">
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>