@page
@model LemmyWeb.Pages.AboutModel
@{
     ViewData["Title"] = "About";
}
<div class="align-content-center">
    <img src="~/LemmyNannyLogo.png" style="display:block;margin:auto;" alt="LemmyNanny Logo" width="50%" />
    <div class="container">
        <div class="row">
            <h1>LemmyNanny an AI bot for the Fediverse!</h1>
            <div class="col-12">
                Are you a moderator or admin of a Lemmy website? Feel your userbase is getting a bit unruly? Or maybe you just want to play with Lemmy and AI? It's up to you how to use LemmyNanny!
                
                It can be found on <a href="https://github.com/IsaaacD/LemmyNanny">GitHub</a> so you can pull it down and start playing. It requires 
                and <a href="https://dotnet.microsoft.com/en-us/download/dotnet/8.0">.Net 8.0</a> to run LemmyNanny and <a href="https://ollama.com/">Ollama</a>  to run the AI model. 
            </div>
            <div class="col-12">
                LemmyNanny writes to SQLite database locally, so you can keep records of what's been processed or not. It also has configurable webhooks, which is what is powering this website.
            </div>
        </div>
        <div class="row p-1 mt-4 mb-4" style="border:4px dashed aliceblue;">
            <div class="">

            </div>
            <div class="col-12 mt-2 mb-2" style="text-align:center;">
                <h2>See what LemmyNanny sees!</h2>
                <div>LemmyNanny is reading Lemmy, and processing posts. Read Lemmy in a new way, with an AI guide. <a href="/feed"><h3>View Feed Here!</h3></a></div>
                <div>
                    This feed uses webhooks from LemmyNanny to show a window into what it's reading on the Fediverse. Feel free to pop in anytime and get a glimpse of what's currently being processed by LemmyNanny.
                </div>
            </div>
            <div class="">

            </div>
        </div>
        <div class="row p-1 mt-2">
            <div class="col-12">
                LemmyNanny is a software bot to retrieve posts and comments on Lemmy instances and using local LLM (AI) models to assist with moderation. This site
                showcases it being run and allows users on Twitch to interact with content LemmyNanny is currently triaging.
            </div>
            <div class="col-12">
                               The goal would be to have each instance running their own LemmyNanny to ensure clean and safe content around the globe! Realtime insights!
                It's open source, so check it out on <a href="https://github.com/IsaaacD/LemmyNanny"> GitHub - LemmyNanny</a>.
                    The source code for this site can be found here <a href="https://github.com/IsaaacD/LemmyNannyWeb">GitHub - LemmyNanny Web</a>.

            </div>
        </div>

    </div>
</div>