@page
@model IndexModel
@{
    ViewData["Title"] = "Nanny Feed";
}
     <h1 style="text-align:center;">Nanny Feed</h1>
<div class="container" >
    <div class="row">
        <div class="col-6">
                <img src="~/LemmyNannyPlain.png" style="float:left;display:block;margin:auto;width:20em;" alt="LemmyNanny Logo" width="50%" />
        </div>
        <div class="col-6" style="font-size: 1.2em;text-align:right;">
            <div clas="mt-4" style="margin-top:5em; text-align:right;">
             <button type="button" class="btn badge badge-pill bg-danger" id="status">reconnect</button>
                <div class="mt-1">
                    <input type="button" id="btnPause" class="btn btn-primary" value="Pause feed" style="display:none;" /> 
                    <div>
                        <div class="form-switch" style="">
                            <label class="form-check-label" for="stayCurrent" style="margin-right: 3em;">Stay Current</label>
                          <input class="form-check-input" type="checkbox" style="" role="switch" id="stayCurrent">

                        </div>
                    </div>


                <div id="numWatcher" class="mt-1 mb-1"></div>
                <div id="lastProcessed" class="mt-1 mb-1"></div>
                
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>
<div class="container">
    <div class="row p-1">
        <div class="col-12 mb-2 mt-1" style="text-align:center;">
            <div class="col-4"></div>
            <div class="col-2">
               
            </div>
            <div class="col-4"></div>
        </div>

        <div class="col-12" id="msgList" class="mb-4" style="display: block ruby;overflow: scroll;height:150px;">

        </div>
        <div class="col-12 mt-2" style="min-height:850px;">
            <div id="focused"></div>
        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
