@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site doesn't store any data, all of it is ephemeral and is lost when the server shuts down.
</p>
<p>
    There is however some logging for metrics, Google Analytics and Microsoft Application Insights. This helps monitor health and performance of the site.
</p>
